<!--<div class="p-grid">

  <div class="p-col">
    <p-card header="Total Envios:">
      <p>15</p>
    </p-card>
  </div>

  <div class="p-col">
    <p-card header="Envios não despachados:">
    </p-card>
  </div>

  <div class="p-col">
    <p-card header="Custo total dos envios:">
      <p>R$: 250,00</p>
    </p-card>
  </div>

</div>
<hr>-->
<div class="p-grid">
  <div class="p-col-2">
    <button pButton pRipple label="Novo Registro" icon="fas fa-folder-plus"
      class="ui-button-rounded ui-button-secondary" style="font-size: 15px; text-align: center;" (click)="click()"
      [disabled]="btnNovoRegistro"></button>
  </div>

  <div class="p-col-2">
    <button pButton pRipple label="Sedex Enviados" icon="fas fa-paper-plane" (click)="openSedexSends()"
      class="ui-button-rounded ui-button-secondary" style="font-size: 15px; text-align: center;"
      [disabled]="btnNovoRegistro"></button>
  </div>

</div>
<p-table [value]="regsedex" [paginator]="true" [rows]="8" [showCurrentPageReport]="true">
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 10px;">Data</th>
      <th style="width: 40px;">Aos Cuidados</th>
      <th style="width: 60px;">Cidade</th>
      <th style="width: 35px;">CEP</th>
      <th style="width: 5px;"></th>
    </tr>

  </ng-template>
  <ng-template pTemplate="body" let-reg>
    <tr style="text-align: center;">
      <td>{{reg.sed_data_postagem | date:'dd/MM/yyyy'}}</td>
      <td>{{reg.des_codigo.des_aos_cuidados_abrev}}</td>
      <td>{{reg.cid_codigo.municipio}}</td>
      <td>{{reg.des_codigo.des_cep | cEP}}</td>
      <td>
        <div class="p-fluid p-formgrid p-grid">

          <div class="p-field p-col-12 p-sm-3">
            <button pButton pRipple type="button" icon="fas fa-eye"
            class="ui-button-rounded ui-button-text ui-button-success" (click)="openDetails(reg.sed_codigo)" ></button>
          </div>
          <div class="p-field p-col-12 p-sm-3">
            <button pButton pRipple type="button" icon="fas fa-edit"
            class="ui-button-rounded ui-button-text ui-button-success" (click)="showObs(reg.sed_codigo)"></button>
          </div>
          <div class="p-field p-col-12 p-sm-2">
            <button pButton pRipple type="button" icon="fas fa-barcode"
            class="ui-button-rounded ui-button-text" (click)="showModalDialog(reg.sed_codigo)"></button>
          </div>
        </div>
      </td>
    </tr>
  </ng-template>

</p-table>

<!--Este p-dialog serve para mostrar a etiqueta-->
<p-dialog header="Etiqueta" [(visible)]="displayModal" [modal]="true" [baseZIndex]="10000" [draggable]="false"
  [resizable]="false">

  <div class="p-grid" class="teste" *ngIf="reg">
    <div class="p-col-9 border">
      <div class="p-grid">
        <div class="p-col-6">
          <span class="dest">Destinatário</span>
        </div>
        <div class="p-col-6 text-dest">
          <img src="assets/images/correios.jpeg" alt="" class="img-correios">
        </div>
        <div class="p-col-12">
          <p class="text-dest">{{reg.des_codigo.des_destinatario}}</p>
          <p><b>Aos Cuidados:</b></p>
          <p>{{reg.des_codigo.des_aos_cuidados}}</p>
          <p>Telefone: {{reg.des_codigo.des_fixo | fixo}}</p>
          <p><b>Endereço:</b></p>
          <p>{{reg.des_codigo.des_logradouro}}, {{reg.des_codigo.des_numero}}, {{reg.des_codigo.des_complemento}}</p>
          <p>{{reg.des_codigo.des_bairro}}, {{reg.cid_codigo.municipio}}/{{reg.est_codigo.sigla_estado}}</p>
          <p>{{reg.des_codigo.des_cep | cEP}}</p>
          <p>{{codBarras | cEP}}</p>
          <ngx-barcode [bc-value]="reg.des_codigo.des_cep" [bc-display-value]="true" [bc-height]="17"
            [bc-font-size]="10"></ngx-barcode>
          <hr class="hr_r">
          <p><b>Remetente:</b></p>
          <p>{{reg.emp_codigo.emp_razao_social}}</p>
          <p>{{reg.rem_codigo.rem_remetente}}, {{reg.rem_codigo.rem_fixo}}</p>
          <p>{{reg.rem_codigo.emp_codigo.emp_logradouro}}, {{reg.rem_codigo.emp_codigo.emp_numero}},
            {{reg.rem_codigo.emp_codigo.emp_bairro}}</p>
          <p>{{reg.rem_codigo.emp_codigo.emp_cep}} {{reg.rem_codigo.emp_codigo.emp_cidade.municipio}},
            {{reg.rem_codigo.emp_codigo.emp_cidade.est_codigo.sigla_estado}}</p>
        </div>
        <div class="p-col-6">
        </div>
      </div>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-check" (click)="printPage()" label="Imprimir"></button>
    <button type="button" pButton icon="pi pi-times" (click)="displayModal=false" label="Cancelar"
      class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="displayObs" position="center" [style]="{width: '65vw'}">

  <form [formGroup]="formulario">

    <p-fieldset legend="Dados Postagem">
      <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col-12 p-md-1">
          <label for="">Cód:</label>
          <input type="text" pInputTextarea formControlName="sed_codigo" disabled>
        </div>

        <div class="p-field p-col-12 p-md-2">
          <label for="">Data Registro</label>
          <input type="text" pInputTextarea formControlName="sed_data_postagem" disabled>
        </div>

        <div class="p-field p-col-12 p-md-2">
          <label for="">Data Postagem</label>
          <input type="text" pInputTextarea formControlName="sed_data_postagem" mode="date"  locale="pt-BR" disabled>
        </div>

        <div class="p-field p-col-12 p-md-2">
          <label for="">Cód Rastreio</label>
          <input type="text" pInputTextarea formControlName="sed_codigo_rastreio">
        </div>

        <div class="p-field p-col-12 p-md-2">
          <label for="">Valor</label>
          <p-inputNumber  mode="currency" currency="BRL" locale="pt-BR" formControlName="sed_valor"></p-inputNumber>
        </div>

        <div class="p-field p-col-12 p-sm-3">
          <label for="">Extraviado?</label>
          <p-inputSwitch formControlName="sed_extraviou"></p-inputSwitch>
        </div>

        <div class="p-field p-col-12 p-sm-1">
          <label for="">Pago?</label>
          <p-inputSwitch formControlName="sed_pago"></p-inputSwitch>
        </div>

      </div>
    </p-fieldset>

    <p-fieldset legend="Dados Remetente">
      <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col-12 p-md-3">
          <label for="">Empresa</label>
          <p-dropdown [options]="empresa"   optionLabel="emp_descricao"  formControlName="emp_codigo"
          [disabled]="true"></p-dropdown>
        </div>

        <div class="p-field p-col-12 p-md-3">
          <label for="">Espeditor</label>
          <p-dropdown type="text" [options]="remetente" optionLabel="rem_abreviado" formControlName="rem_codigo"
          [disabled]="true"></p-dropdown>
        </div>
      </div>
    </p-fieldset>

    <p-fieldset legenf="Dados Destinatário">
      <div class="p-fluid p-formgrid p-grid">

        <div class="p-field p-col-12 p-md-1">
          <label for="">Estado</label>
          <p-dropdown type="text" [options]="estados" optionLabel="sigla_estado" formControlName="est_codigo"
          [disabled]="true"></p-dropdown>
        </div>

        <div class="p-field p-col-12 p-md-5">
          <label for="">Cidade</label>
          <p-dropdown type="text" [options]="cidade" optionLabel="municipio" formControlName="cid_codigo"
          [disabled]="true"></p-dropdown>
        </div>

        <div class="p-field p-col-12 p-md-5" >
          <label for="">Aos Cuidados</label>
          <p-dropdown type="text" [options]="destinatarios" [disabled]="true"
           optionLabel="des_aos_cuidados_abrev" formControlName="des_codigo"></p-dropdown>
        </div>
      </div>
    </p-fieldset>
  </form>
  <p-footer>
    <button pButton type="button" label="Editar" (click)="updateForms()"></button>
    <button pButton type="button" class="ui-button-danger" label="Fechar" (click)="updateForms()"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Detalhes Sedex" [(visible)]="displayDetails" position="center" [style]="{width: '65vw'}">
  <div *ngIf="detailsReg">

    <p-fieldset legend="Remetente">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-sm-3">
          <label for=""><b>Empresa:</b> {{detailsReg.emp_codigo.emp_descricao}}</label>
        </div>

        <div class="p-field p-col-12 p-sm-3">
          <label for=""><b>Espeditor:</b> {{detailsReg.rem_codigo.rem_abreviado}}</label>
        </div>
      </div>
    </p-fieldset>

    <p-fieldset legend="Destinatários">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-sm-3">
          <label for=""><b>Estado:</b> {{detailsReg.est_codigo.sigla_estado}}</label>
        </div>

        <div class="p-field p-col-12 p-sm-3">
          <label for=""><b>Cidade:</b> {{detailsReg.cid_codigo.municipio}}</label>
        </div>

        <div class="p-field p-col-12 p-sm-3">
          <label for=""><b>Aos cuidados:</b> {{detailsReg.des_codigo.des_aos_cuidados_abrev}}</label>
        </div>
      </div>
    </p-fieldset>

    <p-fieldset legend="Itens enviados">
      <p-table [value]="regitens" [paginator]="true" [rows]="8" [showCurrentPageReport]="true">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 10px;">Tipo Item</th>
            <th style="width: 60px;">Descrição</th>
          </tr>

        </ng-template>
        <ng-template pTemplate="body" let-iten>
          <tr style="text-align: center;">
            <td>{{iten.tit_codigo.tit_tipo_item}}</td>
            <td>{{iten.ips_descricao}}</td>
          </tr>
        </ng-template>

      </p-table>
    </p-fieldset>

  </div>
</p-dialog>

