<p-card>
  <div>{{msg}}</div>
  <div class="p-fluid p-formgrid p-grid" [formGroup]="formGroup">
    <div class="p-field p-col-12 p-md-2">
      <label for="dataInicio">Início</label>
      <input id="dataInicio" type="date" pInputText formControlName="dataInicio">
    </div>
    <div class="p-field p-col-12 p-md-2">
      <label for="dataTermino">Término</label>
      <input id="dataTermino" type="date" pInputText formControlName="dataTermino">
    </div>
    <div class="p-field p-col-12 p-md-4">
      <label for="nomeAtividade">Atividade</label>
      <input id="nomeAtividade" type="text" pInputText formControlName="nomeAtividade">
    </div>
    <div class="p-field p-col-12">
      <label for="descricaoAtividade">descrição</label>
      <textarea id="descricaoAtividade" type="text" rows="4" pInputTextarea
        formControlName="descricaoAtividade"></textarea>
    </div>
    <div class="p-field p-col-12 p-sm-1 p-md-1">
      <button pButton class="ui-button-success" label="Adicionar" (click)="onSave()"></button>
    </div>
    <div class="p-field p-col-1">
      <button pButton class="ui-button-danger" label="Cancelar"></button>
    </div>
  </div>
  <hr>

  <div class="p-field p-col-12 p-md-12 ">
    <h3>Atividades</h3>
    <div class="scrollConfig p-col-12">
      <div class="custom-skeleton p-p-4 p-col-12" *ngFor="let t of atividade ">
        <ul class="p-m-0 p-p-0">
          <li class="p-mb-3">
            <div class="p-d-flex">
              <div style="flex: 1">
                <p width="200%" styleClass="p-mb-2"><span class="titulo"><b>Título:</b></span><span class="span-text"> {{t.nomeAtividade}}</span> </p>
                <p width="75%"><span class="titulo">Descricao: </span> <span class="span-text"> {{t.descricaoAtividade}}</span>  </p>
                <div>
                  <p width="100%" class="text-alin"> {{t.dataInicio | date: 'dd/MM/yyyy'}} </p>
                  <button pButton icon="fas fa-trash" class="ui-button-danger"(click)="onDelete(t.idAtividade)" ></button>
                </div>
                <hr>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</p-card>
<!--<mat-nav-list>
   <mat-list-item *ngFor="let link of atividade">
      <span>{{ link.dataInicio | date: 'dd/MM/yyyy'}} á {{ link.dataTermino | date: 'dd/MM/yyyy'}}</span>
      <a matListIcon >{{ link.nomeAtividade }}</a>
      <a matLine >{{ link.descricaoAtividade }}</a>
   </mat-list-item>
</mat-nav-list>-->