.text-alin{
	text-align: right;
	border-left: 25px;
}

.scrollConfig{
	height: 410px;
	width: 1410px;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.titulo{
	border-left: 35px;
	border-right: 35px;
	font-size: 18px;
}
.span-text{
	font-size: 15px;
}