<p-card header="Cadastro Usuários">
  <form [formGroup]="formUsuario">
    <p-fieldset legend="Dados Pessoais" [toggleable]="true">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-formgrid p-col-12 p-sm-6 p-md-6" formGroupName="idPessoa">
          <label for="nomeCompleto">Nome Completo</label>
          <input type="text" name="nomeCompleto" id="nomeCompleto" formControlName="nomeCompleto"
            pInputText required>
        </div>

        <div class="p-field p-formgrid p-col-12 p-sm-2 p-md-2" formGroupName="idPessoa">
          <label for="cpf">CPF</label>
          <p-inputMask type="text" name="cpf" id="cpf" mask="999.999.999-99" formControlName="cpf"></p-inputMask>
        </div>

        <div class="p-field p-formgrid p-col-12 p-sm-6 p-md-2" formGroupName="idPessoa">
          <label for="sexo">Sexo</label>
          <p-dropdown [options]="sexo" optionLabel="sexo" formControlName="sexo" placeholder="selecione"></p-dropdown>
        </div>

        <div class="p-field p-formgrid p-col-12 p-sm-6 p-md-2" formGroupName="idPessoa">
          <label for="estCivil">Estado Civil</label>
          <p-dropdown [options]="estCivil" optionLabel="estCivil" formControlName="estCivil" placeholder="Selecione"></p-dropdown>
        </div>

        <div class="p-field p-formgrid p-col-12 p-sm-2 p-md-2" formGroupName="idPessoa">
          <label for="dataNascimento">Data Nascimento</label>
          <input type="date" name="dataNascimento" id="dataNascimento" pInputText formControlName="dataNascimento">
        </div>

        <div class="p-field p-formgrid p-col-12 p-sm-3 p-md-3" formGroupName="idPessoa">
          <label for="email">E-mail</label>
          <input type="email" name="email" id="email" pInputText formControlName="email">
        </div>

        <div class="p-field p-formgrid p-col-12 p-sm-2 p-md-2" formGroupName="idPessoa">
          <label for="numCelular">N° Celular</label>
          <p-inputMask type="text" name="numCelular" id="numCelular" mask="(99)99999-9999" formControlName="numCelular">
          </p-inputMask>
        </div>

        <div class="p-field p-formgrid p-col-12 p-sm-2 p-md-2" formGroupName="idPessoa">
          <label for="numFixo">Tel.Fixo</label>
          <p-inputMask type="text" name="numFixo" id="numFixo" mask="(99)9999-9999" formControlName="numFixo">
          </p-inputMask>
        </div>
      </div>
    </p-fieldset>
    <br>
    <p-fieldset legend="Endereço" [toggleable]="true">
      <div class="p-fluid p-formgrid p-grid" formGroupName="idPessoa">
        <div class="p-field p-formgrid p-col-12 p-sm-6 p-md-6" formGroupName="idEndereco">
          <label for="logradouro">Logradouro</label>
          <input type="logradouro" name="logradouro" id="logradouro" pInputText formControlName="logradouro">
        </div>

        <div class="p-field p-formgrid p-col-12 p-sm-1 p-md-1" formGroupName="idEndereco">
          <label for="numero">Número</label>
          <input type="numero" name="numero" id="numero" pInputText formControlName="numero">
        </div>

        <div class="p-field p-formgrid p-col-12 p-sm-4 p-md-4" formGroupName="idEndereco">
          <label for="complemento">Complemento</label>
          <input type="complemento" name="complemento" id="complemento" formControlName="complemento" pInputText>
        </div>

        <div class="p-field p-formgrid p-col-12 p-sm-2 p-md-2" formGroupName="idEndereco">
          <label for="cep">CEP</label>
          <input type="text" name="cep" id="cep" pInputText required formControlName="cep"
>
        </div>

        <div class="p-field p-formgrid p-col-12 p-sm-4 p-md-4" formGroupName="idEndereco">
          <label for="setorBairro">Bairro/Setor</label>
          <input type="setorBairro" name="setorBairro" id="setorBairro" pInputText formControlName="setorBairro">
          <p></p>
        </div>

        <div class="p-field p-formgrid p-col-12 p-sm-6 p-md-2" formGroupName="idEndereco">
          <label for="nomeLogin">Cidade</label>
          <p-dropdown [options]="cidades" optionLabel="municipio" placeholder="SELECIONE" formControlName="idCidade"></p-dropdown>
        </div>
      </div>
    </p-fieldset>
    <br>
    <p-fieldset legend="Dados Login" [toggleable]="true">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-formgrid p-col-12 p-sm-2 p-md-2">
          <label for="nomeLogin">Login</label>
          <input type="text" name="nomeLogin" id="nomeLogin" pInputText formControlName="nomeLogin">
         <app-campo-control-erro [mostrarErro]="verificaValid('nomeLogin')" msgErro="Campo obrigatório"></app-campo-control-erro>
        </div>

        <div class="p-field p-formgrid p-col-12 p-sm-6 p-md-2" [ngClass]="aplicaCssErro('password')">
          <label for="nomeLogin">Senha</label>
          <input type="password" name="password" id="password" pInputText formControlName="password" maxlength="15">
          <app-campo-control-erro [mostrarErro]="verificaValid('password')" msgErro="reste"></app-campo-control-erro>
        </div>

        <div class="p-field p-formgrid p-col-12 p-sm-6 p-md-2"  [ngClass]="aplicaCssErro('cargo')">
          <label for="nomeLogin">Cargo</label>
          <p-dropdown [options]="cargo" optionLabel="cargo" formControlName="cargo.nome" placeholder="Selecione"></p-dropdown>
          <app-campo-control-erro [mostrarErro]="verificaValid('cargo')" msgErro="reste"></app-campo-control-erro>
        </div>
      </div>
    </p-fieldset>
    <br>
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-formgrid p-col-12 p-sm-6 p-md-1">
        <button pButton label="Registrar" class="ui-button-success" (click)="onSave()"></button>
      </div>
      <div class="p-field p-formgrid p-col-12 p-sm-6 p-md-1">
        <button pButton label="Cancelar" class="ui-button-danger"></button>
      </div>
    </div>

    {{formUsuario.value | json}}
  </form>
</p-card>
